<script>import { onMount } from "svelte";
export let autosize = false;
export let background = "#f53e04";
export let border = "";
export let bottom = "";
export let className = "";
export let header = "";
export let height = "";
export let hidden = false;
export let icon = false;
export let id = "svelte-window";
export let index = 1;
export let left = "";
export let max = false;
export let maxWindows = 1;
export let minheight = "";
export let minwidth = "";
export let modal = false;
export let mount = void 0;
export let right = "";
export let root = void 0;
export let splitscreen = false;
export let title = "Svelte Window";
export let top = "";
export let url = "";
export let width = "";
export let x = "center";
export let y = "center";
export let onblur = void 0;
export let onclose = () => {
  decreaseOpenWindows();
};
export let oncreate = void 0;
export let onfocus = void 0;
export let onfullscreen = void 0;
export let onhide = void 0;
export let onmaximize = void 0;
export let onminimize = void 0;
export let onmove = void 0;
export let onshow = void 0;
export let onresize = void 0;
export let onrestore = void 0;
export { className as class };
export let modern = false;
export let white = false;
let WinBox;
let html;
export let windowsOpen = 0;
onMount(async () => {
  await import("winbox/dist/css/winbox.min.css");
  await import("winbox/dist/css/themes/modern.min.css");
  await import("winbox/dist/css/themes/white.min.css");
  const winboxModule = await import("winbox/src/js/winbox.js");
  WinBox = winboxModule.default;
});
const theme = modern ? "modern" : white ? "white" : "";
export function createWindow() {
  const params = {
    autosize,
    background,
    border,
    bottom,
    class: `${[theme, className ? className : ""].join(" ")}`,
    header,
    height,
    hidden,
    html: `${html?.innerHTML}`,
    icon,
    id,
    index,
    left,
    max,
    minheight,
    minwidth,
    modal,
    mount,
    right,
    root,
    splitscreen,
    title,
    top,
    url,
    width,
    x,
    y,
    onblur,
    onclose,
    oncreate,
    onfocus,
    onfullscreen,
    onhide,
    onmaximize,
    onminimize,
    onmove,
    onshow,
    onresize,
    onrestore
  };
  if (!maxWindows || maxWindows === "0" || maxWindows && windowsOpen < maxWindows) {
    increaseOpenWindows(title, params);
  }
}
function increaseOpenWindows(title2, params) {
  new WinBox(title2, params);
  windowsOpen += 1;
}
function decreaseOpenWindows() {
  if (windowsOpen > 0) {
    windowsOpen -= 1;
  }
}
</script>

<div style:display="none" bind:this={html} on:close={close}>
	{#if html?.innerHTML && url}
		<span>You cannot render both innerHTML and a URL at the same time.</span>
	{:else}
		<slot />
	{/if}
</div>
